* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    width: 100%;
    margin: auto;
    background-color: beige;
}

header > h1 {
    background-color: yellow;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(66, 66, 66);
}

.navbar-header > ul {
    background-color: rgb(66, 66, 66);
    text-align: center;
    padding: 15px;
}

.navbar-header > ul > li {
    display: inline;
    padding: 0 20px 0 20px;
}

.navbar-header > ul > li > a{
    color: white;
    text-decoration: none;
}

main > header {
    background-image: url(../img/talking_heads-speaking_in_tongues.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.flexbox-container-main-header {
    margin: 0 8% 0 8%;
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background: rgba(8, 8, 8, 0.8);

}

.flexbox-container-main-header > img {
    width: 220px; 
    height: 220px; 
    padding: 5px;
    margin: 60px 20px 60px 0;
}

.header-text {
    padding: 70px 0px 30px 18px;
    flex-grow: 2;
}

.header-text > h1 {
    color: yellow;
    text-transform: uppercase;
    font-size: 40px;
}

.header-text > h2 {
    color: white;
    text-transform: uppercase;
    font-size: x-large;
}

.header-text > h3 {
    color: white;
    text-transform: uppercase;
    font-size: large;
    margin-top: 20px;
    color: rgb(165, 161, 161);
}

.flexbox-main-header {
    display: flex;
    justify-content: space-around;
}


.main-article {
    height: auto;
    display: flex;
    padding: 20px 50px 20px 50px;
    justify-content: space-around;
}


.main-article > .flexbox-section > section{
    margin-bottom: 60px;
   
}

.main-article > .flexbox-section > .section-margin-left {
    margin-left: 30px;
    
}

.main-article > .flexbox-section > section > h2 {
    background-color: yellow;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: rgb(66,66,66);
}

.main-article > .flexbox-section > section > p {
    border-left: 3px solid yellow;
    padding: 20px 0 0 30px;
    color: rgb(66,66,66);
}

.main-article > aside {
    background-color: rgb(65, 65, 65);
    width: 250px;
    padding: 0 50px 20px 50px;
    margin-bottom: auto;
}

.main-article > aside > h2 {
    background-color: yellow;
    margin: 0 -50px 0 -50px;
    padding: 20px;
    color: rgb(66,66,66);
    
    text-transform: uppercase;
}

.main-article > aside > p {
    margin: 0 -50px 0 -50px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}

.main-article > aside > blockquote {
    margin: 0 -50px 0 -50px;
    padding: 20px 60px 20px 60px;
    margin-bottom: 20px;
    text-align: left;
    word-wrap: break-word;
    color: white;
}

.main-article > aside > section {
    border-top: 3px solid white;
    padding-top: 30px;
}

.main-article > aside > section > iframe{
    width: 250px;
}

.main-article > aside > blockquote > sup > a{
    color: yellow;
}


footer > section {
    text-align: start;
    border-top: 3px solid yellow;
    margin: 20px 100px 20px 100px;
    padding-top: 20px;
}

footer > section > cite {
    font-size: small;
}

footer > section > cite > a{
    background-color: yellow;
    text-decoration: none;
    color: black;
    word-wrap: break-word;
}

@media screen and (max-width: 500px) {
    

    .navbar-header > ul > li {
        padding: 5px 20px 5px 0;
    }

    .header-text{
        padding-top: 35%;
    }

    .header-text > h1 {
        color: yellow;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    .header-text > h2 {
        color: white;
        text-transform: uppercase;
        font-size: 10px;
    }
    
    .header-text > h3 {
        color: white;
        text-transform: uppercase;
        font-size: large;
        margin-top: 10px;
        color: rgb(165, 161, 161);
    }

    .flexbox-container-main-header > img {
        display: none;
    }

    main > .main-article {
        display: inline;
    }

    .main-article > aside {
        width: auto;
        margin: auto;
    }

    .main-article > aside > section > iframe{
        width: 350px;
    }

    footer > section {
        text-align: center;
    }
  }